@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif; */

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calc-frame{
    display: flex;
    flex-direction: column;

    margin-top: 20px;
    width: 450px;
    height: 650px;
    background-color: #1C2D6A;
    border-right: 10px solid #121e474e;
    border-bottom: 10px solid #121e474e;
    border-left: 10px solid #263878;
    border-top: 10px solid #263878;
    border-radius: 45px;
    padding: 40px 40px;
    box-shadow: 18px 18px 8.4px 0px rgba(0, 0, 0, 0.25);
}

.display{
    width: 100%;
    height: 4rem;
    background: #BFBEBE;
    padding: 7px 14px;
    border: 2px solid #7c7b7b;
    
}


/** Display */
.screen{
    width: 100%;
    height: 100%;
    background: #D0D0D0;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 20px;
    border: 2px solid #b5b5b5;
    color: rgb(64, 64, 64);
    font-family: 'Orbitron', sans-serif;

}

.screen-display{
    display: flex;
    justify-content: space-between;
}



.operator{
    margin-left: 10px;
}



/** Display End*/









.keys{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 60px;
    flex: 1;
    width: 100%;
}

.row{
    display: flex;
    justify-content: space-between;
}

.key{
    height: 70px;
    width: 70px;
    border-radius:100%;
    position: relative;
    background: #D9D9D9;
    color: #616060;
    box-shadow: 0px 3px 0px  #9d9d9d;
    filter: drop-shadow(0px 5px rgba(0, 0, 0, 0.25));
    z-index: 0;
    position: relative;
}


.key:hover{
    transition: .2s all ease;
    cursor: pointer;
    filter: none;
    box-shadow:0px 0 3px inset;
    color: #efefef;
    background-color: #7a7a7a;
    outline: none;
}

.key-event, #clear, #delete, #allClear{
    background: #F69F9F !important;
    color: darkslategrey !important;
}

.row:first-child .key{
    background:#808080;
    color: #efefef;
}


.enter{
    background: rgba(214, 72, 72, 0.82);
    color: rgb(213, 213, 213) !important;
}

.key span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}